*, *::after, *::before{
  box-sizing: border-box;
  font-family: Arial;
}

.catpic{
  position: fixed;
  top: 10%;
  left: 50%;
  max-width: 400px;
  transform: translate(-50%);
  border: 5px solid hsl(248, 95%, 63%);
  border-radius: 10px;

}
.button {
  font-weight: bold;
  position: fixed;
  font-size: large;
  top: 1%;
  left: 50%;
  background-color: hsl(248, 95%, 63%);
  color: white;
  border-radius: 10px;
  transform: translate(-50%);
  width: 250px;
  height: 50px;

}
.loader {
  position: fixed;
  top: 10%;
  left: 50%;
  max-width: 400px;
  transform: translate(-50%);
}

